            .subscribe-button{
                background-color: rgb(204, 0, 0);
                color:white;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 5px;
                cursor: pointer;
                margin-right: 8px;
                transition: opacity 0.15s;
            }
        
            .subscribe-button:hover{
                background-color: rgb(251, 0, 0);
            }
            .subscribe-button:active{
                opacity: 0.5;
            }
        
        
        
            .join-button{
                background-color: white;
                border-color: rgb(41, 118, 211);
                border-style: solid;
                border-width: 1px;
                font-weight: bold;
                color:rgb(41, 118, 211);
                padding-top: 9px;
                padding-bottom: 9px;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.2s;color: 0.2s;
            }
            .join-button:hover{
                background-color: rgb(41, 118, 211);
                color: white;
            }
            .join-button:active{
                opacity: 0.5;
            }
        
        
            .tweet-button{
                background-color: rgb(47, 117, 221);
                color: white;
                border:none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 18px;
                font-weight: bold;
                font-size: 13;
                cursor: pointer;
                margin-left: 8px;
            }
            .tweet-button:hover{
                box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
            }
        
            .request-button{
                background-color: rgb(0, 0, 0);
                color: white;
                border: none;
                padding-top: 9px;
                padding-bottom: 9px;
                padding-left: 16px;
                padding-right: 16px;
                cursor: pointer;
                margin-left: 8px;
            }
            .request-button:hover{
                opacity: 0.7;
        
            }
        
            .cart-button{
                background-color: rgb(255,216,20);
                color: rgb(0, 0, 0);
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 25px;
                padding-right: 25px;
                font-size: 16;
                border-radius: 20px;
                cursor: pointer;
                margin-left: 8px;
            }
            .cart-button:hover{
                background-color:rgb(232, 202, 56); 
            }
        
            .sign-button{
                background-color: rgb(46,164,79);
                color: white;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px; 
                font-weight: 750;
                cursor: pointer;
                border-radius: 5px;
                margin-left: 8px;
            }
            .sign-button:hover{
                box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
            }
        
            .started-button{
                background-color: rgb(121,82,179);
                color: white;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 23px;
                padding-right: 23px;
                font-size: 14;
                font-weight: 650;
                cursor: pointer;
                border-radius: 3px;
                margin-top: 8px;
                margin-left: 8px;
            }
            .started-button:hover{
                background-color: rgb(91, 62, 135);
            }
        
            .download-button{
                background-color: rgb(255, 255, 255);
                color: rgb(91,99,106);
                padding-top: 9px;
                padding-bottom: 9px;
                padding-left: 23px;
                padding-right: 23px;
                font-weight: 550;
                border-color:rgb(91, 99, 106); 
                cursor: pointer;
                border-radius: 3px;
                margin-top: 8px;
                margin-left: 8px;
            }
            .download-button:hover{
                background-color: rgb(91,99,106);
                color: white;
            }
        
            .apply-button{
                background-color: rgb(10,102,194);
                color: white;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 22px;
                padding-right: 22px;
                font-size: 15;
                font-weight: 600;
                cursor: pointer;
                border-radius: 18px;
                margin-top: 8px;
                margin-left: 8px;
            }
            .apply-button:hover{
                background-color: rgb(11, 85, 159);
            }
        
            .save-button{
                background-color: rgb(255, 255, 255);
                color: rgb(10,102,194);
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 23px;
                padding-right: 23px;
                font-weight: bold;
                cursor: pointer;
                border-radius: 18px;
                border-width: 1px;
                border-color: rgb(10,102,194);
                margin-top: 8px;
                margin-left: 8px;
            }
            .save-button:hover{
                border-width: 2.5px;
                background-color: rgb(215, 235, 255);
            }
            .stretch{
                background-color: rgb(11, 99, 37);
                color: white;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
                cursor: pointer;
                margin-right: 8px;
                margin-left: 8px;
                margin-top: 20px;
                transition: opacity 0.15s;
            }
        
            .stretch:hover{
                height: 40px;
                width: 120px;
                font-size: 22px;
                font-style: bolder;
                text-align: center;
            }
            .stretch:active{
                opacity: 0.5;
            }