p{
    font-family: 'Montserrat', sans-serif;
}
.model {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.order {
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.td {
    text-decoration: underline;
}
