body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(235, 231, 231);
    width: 100%;
}
p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin: 0 0 10px;
    margin-top: 5px;
}
a {
    color: black;
    text-decoration: none;
}
.main {
    margin-bottom: 100px;
}
.header {
    background-image: url("title.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(231, 221, 221);

    width: 100%;
    height: 300px;
    
    margin-bottom: 50px;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.main-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;    
}
.sub-title {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: -300px;
}
.footer {
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    color: gray;

    background-color: rgb(203, 203, 203);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;  
}
.feedback-button {
    width: 150px;
    height: 35px;
    color: rgb(118, 115, 115);
    background-color:rgb(235, 231, 231);
    border: 1px solid rgb(193, 186, 186);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
.feedback-button:hover {
    box-shadow: rgb(147, 146, 146) 6px 5px 13px;
}
.instagram a{
    color: gray;
    text-decoration: none;
}