.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 350px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.products-grid .product-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}
.product-item {
    display: inline-block;
    width: 500px;
    height: 300px;
}
.product-item:hover {
    box-shadow: rgba(109, 129, 132, 0.937) 2px 4px 22px 3px ;
}
.products-grid .product-item:hover {
    transform: translateY(-5px);
    transition: 0.8s ease;
}
.product-image-container {
    display: flex;
    width: 350px;
    height: 325px;
    margin-top: 5px;
}
.product-image {
    width: 200%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.product-description {
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    height: 60px;
    overflow: hidden;
    text-wrap: wrap;
    overflow: visible;
    height: auto;
}
.product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}