.section-title {
    margin-top: 400px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;


    height: 800px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: top;
}

.product-image-container {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: top;

}
.product-image {
    width: 100%;
    height: 100%;
}
.product-content {
    font-size: 14px;
    display: block;
    line-height: 1.5;
}
.section-title-2 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.prod-name {
    font-size: 16px;
    text-align: center;
}
.product-info.button {
    text-align: center;
    margin-top: 10px;
}
.info {
    font-size: 12px;
    display: block;
    padding: 5px;
    margin-bottom: none;
}
span {
    color: red; 
}

.kitchen-card {
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.1);
    background-color:  rgb(235, 231, 231);
}
.kitchen-card:hover {
    transform: scale(1.15);
    transition: 0.8s ease;
    box-shadow: 1px 2px 25px rgba(73, 255, 100, 0.815);;
    cursor: pointer;
}
.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}