.section-title {
    margin-top: 400px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;

    height: 750px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: top;
}

.product-image-container {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: top;

}
.product-image {
    width: 100%;
    height: 100%;
}
.product-image:hover {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.product-content {
    font-size: 14px;
    display: block;
    line-height: 1.5;
}
.section-title-2 {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.prod-name {
    font-size: 16px;
    text-align: center;
}
.product-info.button {
    text-align: center;
    margin-top: 10px;
}
.info {
    font-size: 12px;
    display: block;
    padding: 5px;
    margin-bottom: none;
}
span {
    color: red; 
}

.kitchen-card,
.bathroom-card,
.household-card {
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.1);
    background-color:  rgb(235, 231, 231);
}
.kitchen-card:hover {
    transform: scale(1.15);
    transition: 0.8s ease-in-out;
    box-shadow: 1px 2px 25px rgba(73, 255, 100, 0.815);
    border-radius: 8px;
    cursor: pointer;
    background-color: white;

    button {
        transition: ease 0.6s;
        background-image: radial-gradient(circle at 8% 20%, #31c527ce 0%, #58ec3b 100%);
        color: white;
        border: none;
        font-weight: 700;
    }
}
.bathroom-card:hover {
    transform: scale(1.15);
    transition: 0.8s ease-in-out;
    box-shadow: 1px 2px 25px rgba(73, 167, 255, 0.815);
    border-radius: 8px;
    cursor: pointer;
    background-color: white;

    button {
        background-image: radial-gradient(circle at 8% 20%, #1171cbce 0%, #55a8f6 100%);
        color: white;
        transition: ease-in-out 0.6s;
        border: none;
        font-weight: 700;
    }
}
.household-card:hover {
    transform: scale(1.15);
    transition: 0.8s ease-in-out;
    box-shadow: 1px 2px 25px rgba(239, 116, 28, 0.859);
    border-radius: 8px;
    cursor: pointer;
    background-color: white;

    button {
        background-image: radial-gradient(circle at 8% 20%, #dd5b14ce 0%, #ff9f38 100%);
        color: white;
        transition: ease-in-out 0.6s;
        border: none;
        font-weight: 700;
    }
}
.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}