body {
    font-family: arial;
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.guess-img {
    height: 150px;
    width: 150px;
    border-radius: 80px;
    margin-top: 3px;
    border: none;
}

.guess-button {
    background-color: rgb(22, 22, 22);
    border: rgba(192, 128, 9, 0.818) solid 1px;
    margin-left: 50px;
    width: 180px;
    height: 180px;
    border-radius: 93px;
    cursor: pointer;
    margin-right: 50px;
}
.guess-button:hover {
    background-color:rgba(192, 128, 9, 0.351);
    box-shadow: rgba(192, 128, 9, 0.351) 5px 15px 50px 15px;
}

.announce {
    font-size: 30px;
    font-weight: bold;
}

.choice {
    font-size: 20px;
    margin-top: 50px;
}

.score{
    font-size: 20px;
}

.reset-button {
    padding: 10px;
    background-color: rgb(52, 52, 52);
    color: white;
    border: 1px solid rgba(192, 128, 9, 0.351);
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}