body {
background-color: rgb(25,25,25);
color: white;
font-family: Arial; 
display: block;
text-align: center;
}
.title-section {
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.title {
    font-size: 30px;
    font-weight: bold;
}
.moves-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.move-icon {
height: 50px;
}
.move-button {
    background-color: rgb(25,25,25);
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}
.move-button:hover {
    background-color: rgba(86, 184, 61, 0.858);
}
.score {
    margin-top: 60px;

}
.reset-score-button,
.auto-play-button   {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}
.dark-mode-button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    ;
}

.result {
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
    animation: slideInTop, bounce 1.15s infinite linear;
}

@keyframes slideInTop {
    from { transform: translateX(0); opacity: 0; }
    to { transform: translateZ(10); opacity: 100; }
}
@keyframes bounce {
    0%, 100% { transform: translateY(0px); opacity: 0.2;}
    50% { transform: translateY(-15px); opacity: 100;}
}
.icon-container {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.mode-icon {
    position: relative;
    width: 120%;
    height: 120%;
    bottom: 8px;
    right: 15px;
    border-radius: 30px;
}
.dark-mode {
    background-color: rgb(238, 238, 238);
    color: rgb(25, 25, 25);

    .move-button {
        background-color: rgb(238, 238, 238);
        border: 3px solid rgb(25, 25, 25);
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-right: 10px;
        cursor: pointer;
    }
    .move-button:hover {
    background-color: rgba(31, 98, 214, 0.858);
    }
    .reset-score-button,
    .auto-play-button   {
        color: white;
        background-color: rgb(25, 25, 25);
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
    }
    .dark-mode-button {
        background-color: rgb(25, 25, 25);
        width: 30px;
        height: 30px;
    }
    .dark-mode-button {
    background-color: transparent;
    height: 35px;
    }
    .title-section {
        display: grid;
        grid-template-columns: 1fr 80px;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}